@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #D9BD9C,#BF895A);
}

main{
    background-color: white;
    padding: 10px;
    width: 900px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #4e38247e;
}

h1 {
    color:#A66E4E;
    text-align: center;
    text-shadow: 1px 1px 2px #5a3b2988;

}

h2{
    color: #8DA6A6;
}

p{
    text-align: justify;
    color: #243333;
}